<!DOCTYPE HTML>
<html>
<head data-hook="inside_head">
  <%= render 'spree/shared/head' %>
</head>
<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

<div class="container" id='cover'>
  <div id="content" data-hook>
    <%= breadcrumbs(@taxon) %>
    <%= flash_messages %>
    <%= yield %>
  </div>
</div>
<div id="footer" data-hook>
  <div id="footer-left" class='span6' data-hook>
    <div class='footer-links-block'>
      <h3>About Us</h3>
      <ul>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
      </ul>
    </div>
    <div class='footer-links-block'>
      <h3>About Us</h3>
      <ul>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
        <li>About Sold.sg</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer-right" data-hook>
    asl;dksal;dksal;dks;la
  </div>
  <div class="clear"></div>
  <p><%= t(:powered_by) %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
</div>
<%= render 'spree/shared/google_analytics' %>
</body>
</html>
