<!doctype html>

<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"><!--<![endif]-->


<head data-hook="inside_head" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# soldgers: http://ogp.me/ns/fb/soldgers#">
  <%= render :partial => 'spree/shared/head' %>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <%= javascript_tag "var captchaPublicKey = '#{Recaptcha.configuration.public_key}';" %>
  <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'
        xmlns="http://www.w3.org/1999/html">
</head>

<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<%= render :partial => 'spree/shared/top_nav' %>
<%= content_for?(:content) ? yield(:content) : yield %>

<br/><br/>
<%= render :partial => locale_path('spree/shared/footer') %>
<%= render :partial => 'spree/shared/google_analytics' %>
<%= render :partial => 'spree/shared/facebook_init' %>
<%#= render :partial => 'spree/shared/pin_it' %>
<%= render :partial => 'spree/shared/user_voice' %>

<% if flash[:validate_phone] %>
    <%= render :partial => 'spree/shared/google_conversions/successful_auction_sign_ups' %>
<% elsif flash[:confirmed] %>
    <%= render :partial => 'spree/shared/google_conversions/sign_up_1' %>
<% else %>
    <%= yield :google_conversion %>
<% end %>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</body>

</html>
<!-- This line can be removed. It is just to test Webistrano build -->
