<footer id="neo_footer">
  <div id="upper-footer">
    <div id="themeBackground">
      <div class="contact-title">
        <br />
        <strong>GOT QUESTIONS?</strong>
        <br />
        <strong><span style="font-size:18px; color: #f07b09;">WE'LL BE THERE FOR YOU!</span></strong>
      </div>
      <div class="contact-info">
        <ul>
          <li class="phone-text">
            <%= SiteConfig.phone %>
          </li>
          <li class="email-text">
            <a href="mailto:<%= SiteConfig.email.support %>">EMAIL US</a>
          </li>
          <li class="chat-text">
            LIVE CHAT
          </li>
          <li class="faq-text">
            <a href="<%=SiteConfig.feedback.base_url%>" target="_blank">F.A.Q.</a>
          </li>
        </ul>
      </div>

      <div style="clear: both;"></div>

      <div class="foot-seo"  align="justify">
        <% if content_for?(:seo_footer) %>
            <%= yield(:seo_footer) %>
        <% else %>
            <p>Sold.sg is Singapore’s premium online entertainment shopping website, offering you the latest in technological and lifestyle products and services at the best possible prices!</p>

            <p>A huge variety of gadgets, games, fashion and accessories are placed on sale daily. Like something you see? Make an instant purchase at Sold.sg Shop! Want the thrill of the chase, that competitive edge or the excitement of bidding? You’ll get that and more at Sold.sg Auctions.</p>

            <p>Sold.sg is an online site to suit all shoppers – so take your time, explore your options and most importantly, have fun! Get the best deals at the best prices, and let us give you the best online shopping experience!</p>
        <% end %>
      </div>

    </div>
  </div>

  <div id="lower-footer">
    <div id="lower-footer-container">
      <div class="sitemap">
        <ul>
          <li class="foot-title">SOLDGERS</li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/work-with-us">Work With Us</a></li>
          <li><a href="/contact-us">Contact Us Maybe</a></li>
          <li><a href="/happy-soldgers">Happy Soldgers</a></li>
        </ul>

        <ul>
          <li class="foot-title"><strong>AUCTIONS</strong>
          <li><a href="/">Live Auctions</a></li>
          <li><%= link_to 'Completed Auctions', completed_auctions_url(subdomain: 'auctions') %></li>
          <li><a href="/guide-rules">Essential Rules</a></li>
          <li><a href="/guide-beginner">How It Works</a></li>
          <li><a href="/zero-risk-help">Zero Risk Auctions</a></li>
        </ul>

        <ul>
          <li class="foot-title">SHOP</li>
          <li><a href="/categories/2">Sound Matters</a></li>
          <li><a href="/categories/3">Accessories</a></li>
          <li><a href="/categories/5">Cameras</a></li>
          <li><a href="/categories/8">Fashion</a></li>
          <li><a href="/categories/9">Home & Decor</a></li>
          <li><a href="/categories/11">For Him & Her</a></li>
          <li><a href="/categories/12">Limited Edition</a></li>
        </ul>

        <ul>
          <li class="foot-title"> &nbsp;</li>
          <li><a href="/our-products">Our Products</a></li>
          <li><a href="/shipping">Shipping/Returns</a></li>
          <li><a href="<%= knowledge_url('shop_faq') %>" target="_blank">FAQ</a></li>
        </ul>

        <div style="clear: both;"></div>

        <p class="disclaimer">
          <a href="/terms" target="_blank">Terms of Use</a>   |   <a href="/privacy" target="_blank">Privacy Policy</a>
          <br />© 2013 Soldgers. All Rights Reserved.
        </p>
      </div>

      <div class="fabio">
        <p class="footerSignup">
          <a href="#">SIGN UP<br/> &nbsp; &nbsp; &nbsp; TODAY</a>
        </p>
        <div style="clear:both;" /><br><br><br></div>
      <p>
        <a href="<%= SiteConfig.twitter.url %>" target="_blank"><img class="twitterlink" src="http://sold.shared.s3.amazonaws.com/temp/twitter-sign.png" /></a>
        <a href="<%= SiteConfig.facebook.url %>"><img class="facebooklink" src="http://sold.shared.s3.amazonaws.com/temp/facebook-sign.png" /></a>
        <br />
        <a href="<%= SiteConfig.blog.url %>"><img class="bloglink" src="http://sold.shared.s3.amazonaws.com/temp/blog-sign.png" /></a>
      </p>

      <ul class="accreditations">
        <li style="display: inline-block;">
          <img class="consumertrust" src="http://sold.my.bckt.s3.amazonaws.com/footer/all-pay.png" alt=""></li>
      </ul>
    </div>
  </div>
  </div>

</footer>