<% content_for :sales do %>
    <ul class="pull-left no-list">
      <li class="foot-title"><strong>SALE</strong></li>
      <li><a href="/about-sales">About Sales</a></li>
      <li><a href="<%= knowledge_url('sales_faq') %>" target="_blank">FAQ</a></li>
    </ul>
<% end %>

<% content_for :shop do %>
    <ul class="pull-left no-list">
      <li class="foot-title"><strong>SHOP</strong></li>
      <li><a href="/our-products">Our Products</a></li>
      <li><a href="/shipping">Shipping/Returns</a></li>
      <li><a href="<%= knowledge_url('shop_faq') %>" target="_blank">FAQ</a></li>
    </ul>
<% end %>


<% content_for :auctions do %>
    <ul class="pull-left no-list">
      <li class="foot-title"><strong>AUCTIONS</strong></li>
      <li><%= link_to 'Completed', completed_auctions_url(subdomain: 'auctions') %></li>
      <li><a href="/guide-rules">Essential Rules</a></li>
      <li><a href="/guide-beginner">How It Works</a></li>
      <li><a href="/zero-risk-help">Zero Risk Auctions</a></li>
      <li><a href="<%= knowledge_url('auctions_faq') %>" target="_blank">FAQ</a></li>
    </ul>
<% end %>


<footer id="neo_footer">
  <div class="footer-shadow"></div>
  <div class="container-footer">
    <div class="pull-left foot-seo">
      <% if content_for?(:seo_footer) %>
          <%= yield(:seo_footer) %>
      <% else %>
          <ul>
            <li><a href="<%= SiteConfig.site.url %>"><%= SiteConfig.site.name %></a> is Malaysia's premium online
              entertainment shopping website, offering you the latest in technological and lifestyle products and
              services at the best possible prices!
            </li>
            <br>
            <li>A huge variety of gadgets, games, fashion and accessories are placed on sale daily. Like something you
              see? Make an instant purchase at <a href="http://shop.sold.sg"><%= SiteConfig.site.name %> Shop</a>! Want
              the thrill of the chase, that competitive edge or the excitement of bidding? You’ll get that and more
              at Sold.my <%= link_to 'Auction', root_url(subdomain: 'auctions') %></a>.
            </li>
            <br>
            <li><a href="<%= SiteConfig.site.url %>"><%= SiteConfig.site.name %></a> is an online site to suit all
              shoppers – so take your time, explore your options and most importantly, have fun! Get the best deals at
              the best prices, and let us give you the best online shopping experience!
            </li>
            <br>

          </ul>
      <% end %>


    </div>

    <div class="pull-right foot-links">
      <ul class="pull-left no-list">
        <li class="foot-title"><strong>ABOUT US</strong></li>
        <li><a href="/about-us"> Behind The Scenes</a></li>
        <!--<li><a href="#" target="_blank">News & Paparazzi</a></li>-->
        <!--<li><a href="#" target="_blank">Mis-mitment</a></li>-->
        <li><%= link_to 'Contact Us Maybe?', "/contact-us" %></li>
        <li><a href="/work-with-us">Work With Us</a></li>
        <li><a href="/happy-soldgers" target="_blank">Happy Soldgers</a></li>
        <li><a href="<%=SiteConfig.feedback.base_url%>" target="_blank">H.E.L.P!</a></li>
      </ul>

      <ul class="pull-left no-list">
        <li class="foot-title"><strong>OUR SITES</strong></li>
        <li><%= link_to 'Auction', root_url(subdomain: 'auctions') %></li>
        <li><%= link_to 'Shop', root_url(subdomain: 'shop') %></li>
        <% if SiteConfig.sale.enabled %>
            <li><%= link_to 'On Sale', root_url(subdomain: 'sales') %></li>
        <% end %>
        <li><a href="<%= SiteConfig.blog.url %>" target="_blank">Blog</a></li>
      </ul>

      <%= yield(request.subdomain.to_sym) %>

      <ul class="pull-right no-list inline">
        <li class="foot-title"><strong>FOLLOW US</strong></li>
        <br>
        <li><a href="<%= SiteConfig.facebook.url %>" target="_blank"> <img src="/assets/foot-fb.jpg" alt=""></a></li>
        <li><a href="<%= SiteConfig.twitter.url %>" target="_blank"> <img src="/assets/foot-twitter.jpg" alt=""></a>
        </li>
        <li><a href="<%= SiteConfig.blog.url %>" target="_blank"> <img src="/assets/foot-blog.jpg" alt=""></a></li>
        <br><br>
      </ul>
      <br class="clear">

      <br class="clear">
      <br>
      <br class="clear">

      <ul class="pull-right no-list inline">
        <li class="foot-title"><strong>PAYMENT</strong></li>
        <br>
        <li><img src="/assets/foot-pay1.jpg" alt=""></li>
        <li><img src="/assets/foot-pay2.jpg" alt=""></li>
      </ul>

      <ul class="pull-left no-list" style="margin: 0;">
        <li>
          <div class="fb-like" data-href="<%= SiteConfig.facebook.url %>" data-send="false" data-width="80" data-show-faces="false" data-colorscheme="light" data-font="lucida grande"></div>
        </li>
      </ul>

    </div>

    <br class="clear">
    <ul class="no-list inline subfooter" style="margin: 0;">
      <li><a href="/terms">Terms of Use</a></li>
      <li><a href="/privacy" class="no-border">Privacy Policy</a></li>
      <!--<li><a href="/info-security" class="no-border">Information Security</a></li>-->
      <li class="pull-right">© 2012 Soldgers. All Rights Reserved.</li>
    </ul>
    <br class="clear">
  </div>
</footer>