<% @body_id = 'signup' %>
<div class="container">
  <h1 class="page_header">
    <%=raw(t(:join_us))  %>
    <span class="dashed"><%= "-"*80 %></span>
  </h1>

  <div class="span12">
    <%= image_tag('step1-registration-bg.png') %>
  </div>
  <div class='span10 offset1'>
    <%= render :partial => 'spree/shared/error_messages', :locals => {:target => @user} %>
    <div id="new-customer">
      <div data-hook="signup">
        <%= simple_form_for :user, :url => spree.user_registration_path(@user), :html => {:class => 'form-horizontal', :id => 'registration_form'} do |f| %>
            <%= f.error_notification %>
            <div data-hook="signup_inside_form">
              <%= render :partial => 'spree/shared/user_form', :locals => {:f => f} %>
              <p class='registratio-term'>I have read the terms of use and privacy policy for Sold.sg and I understand
                and accept its terms.</p>

              <p><%= f.submit t(:sign_me_up), :class => 'btn btn-large btn-warning' %></p>
            </div>
        <% end %>
      </div>

    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>

