<footer id="neo_footer">
  <div class="footer-shadow"></div>
  <div class="container-footer">
    <div class="pull-left foot-seo">
      <% if content_for?(:seo_footer) %>
          <%= yield(:seo_footer) %>
      <% else %>
          <ul>
                  <li><strong>Singapore’s Best Online Entertainment Shopping</strong></li>
                  <li>Sold.sg is a premium online entertainment shopping website that offers you the latest, brand new products and services! A great variety of deals are put up for sale daily. These deals include PS3, iPads, iPhones, Wii, digital cameras, tv sets, airline tickets to popular destinations, hotel and spa vouchers and many more at amazing sale prices!	</li><br>
                  <li>Sounds tough? Bidding on our site isn’t all that complicated once you get the hang of it. Take your time to explore the website and get yourself familiarized with the process.	</li><br>
                  <li>Why us? If you’re looking for great sales in town, look no more because only we offer you the most amazing deals for bidding! Secure your best deals with us and rest assured that you would get your best online shopping experience. It’s a sale like no other so what you waiting for? Start bidding on Sold.sg now!	</li><br>
                </ul>
      <% end %>


    </div>

    <div class="pull-right foot-links">
      <ul class="pull-left no-list">
        <li class="foot-title"><strong>ABOUT US</strong></li>
        <li><a href="/about-us"> Behind The Scenes</a></li>
        <!--<li><a href="#" target="_blank">News & Paparazzi</a></li>-->
        <!--<li><a href="#" target="_blank">Mis-mitment</a></li>-->
        <li><%= link_to 'Contact Us Maybe?', "/contact-us" %></li>
        <li><a href="/work-with-us">Work With Us</a></li>
        <!--<li><a href="#" target="_blank">Happy Soldgers</a></li> -->
        <li><a href="http://feedback.sold.sg/knowledgebase">H.E.L.P!</a></li>
      </ul>

      <ul class="pull-left no-list">
        <li class="foot-title"><strong>OUR SITES</strong></li>
        <li><%= link_to 'Auction', root_url(subdomain: 'auctions') %></li>
        <li><%= link_to 'Shop', root_url(subdomain: 'shop') %></li>
        <li><%= link_to 'On Sale', root_url(subdomain: 'sales') %></li>
        <li><a href="http://thesoldgers.wordpress.com/" target="_blank">Blog</a></li>
        <!--<li><a href="#" target="_blank">Perks</a></li>-->
      </ul>

      <%=  yield(:sub_footer) if content_for?(:sub_footer) %>

      <ul class="pull-right no-list inline">
        <li class="foot-title"><strong>FOLLOW US</strong></li> <br>
        <li><a href="http://www.facebook.com/soldsg"> <img src="/assets/foot-fb.jpg" alt=""></a> </li>
        <li><a href="http://www.twitter.com/solddotsg"> <img src="/assets/foot-twitter.jpg" alt=""></a></li>
        <li> <a href="http://thesoldgers.wordpress.com/"> <img src="/assets/foot-blog.jpg" alt=""></a></li>
      </ul>
      <div class="fb-like" data-href="http://www.facebook.com/soldsg" data-send="false" data-width="80" data-show-faces="false" data-colorscheme="light" data-font="lucida grande"></div>
      <br class="clear">
      <br class="clear">
      <hr>
      <br class="clear">

      <ul class="pull-left no-list inline">
        <li class="foot-title"><strong>PAYMENT</strong></li> <br>
        <li><a href="#"> <img src="/assets/foot-pay1.jpg" alt=""></a> </li>
        <li><a href="#"> <img src="/assets/foot-pay2.jpg" alt=""></a></li>
      </ul>

      <ul class="pull-left no-list inline">
        <li class="foot-title"><strong>SECURED BY</strong></li> <br>
        <li><div width="135" align="center" valign="top">
          <script src="https://seal.verisign.com/getseal?host_name=www.sold.sg&amp;size=M&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><a href="javascript:vrsn_splash()" tabindex="-1"><img name="seal" border="true" src="https://seal.verisign.com/getseal?at=0&amp;sealid=1&amp;dn=www.sold.sg&amp;lang=en" oncontextmenu="return false;" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security"></a>
          <br>
          <a href="http://www.verisign.com.sg/ssl-certificate/" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">
            ABOUT SSL CERTIFICATES
          </a>
        </div>
        </li>
      </ul>

      <ul class="pull-left no-list inline">
        <li class="foot-title"><strong>ACCREDITED BY</strong></li> <br>
        <li><a href="#"> <img src="/assets/foot-ct.jpg" alt=""></a> </li>
        <li><a href="#"> <img src="/assets/foot-trustsg.jpg" alt=""></a> </li>
      </ul>

    </div>

    <br class="clear">
    <ul class="no-list inline subfooter" style="margin: 0;">
      <li><a href="/terms">Terms of Use</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/info-security" class="no-border">Information Security</a></li>
      <li class="pull-right">© 2012 Soldgers. All Rights Reserved.</li>
    </ul>
    <br class="clear">
  </div>
</footer>