<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title><%= title %></title>

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta id="viewport" name='viewport'>
<script>
    (function(doc) {
        var viewport = document.getElementById('viewport');
        if ( navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) {
            doc.getElementById("viewport").setAttribute("content", "initial-scale=0.3");
        } else if ( navigator.userAgent.match(/iPad/i) ) {
            doc.getElementById("viewport").setAttribute("content", "initial-scale=0.7");
        }
    }(document));
</script>

<%== meta_data_tags %>

<meta property="fb:app_id" content="<%= SiteConfig.facebook.app_id %>" />
<%== meta_fb_data_tags %>

<%= favicon_link_tag image_path(fav_icon_for) %>

<%= stylesheet_link_tag 'store/all', :media => 'screen' %>

<%= csrf_meta_tags %>
<script type="text/javascript">
    window.currency_for_format = "<%= SiteConfig.currency %>";
  var siteConfig = {
      'currency' :  "<%= SiteConfig.currency %>"
    , 'name': '<%= SiteConfig.site.name %>'
    , 'country': '<%= SiteConfig.site.country %>'
    , 'facebook_url': '<%= SiteConfig.facebook.url %>'
    , 'root_url': '<%= root_url%>'
  };

  var feedbackLinks = <%=raw(SiteConfig.feedback.to_json)%>;

</script>
<%= javascript_include_tag 'store/all' %>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= javascript_tag do %>
    var current_nickname;
    <% if signed_in? %>
        current_nickname = '<%=current_user.nickname%>';
    <% end %>
<% end %>
<% if ie? %>
    <%= javascript_include_tag 'ie/placeholder_for_ie' %>
<% end %>
<%= yield :head %>
