<% if current_user %>

    <li class="dropdown myaccnt">
      <a class="dropdown-toggle username" data-toggle="dropdown" href="#"><p class="pull-left"><%= full_name(current_user) %></p></a>
      <ul class="dropdown-menu mymenu">
        <li><%= link_to("Account Settings", account_path(:subdomain => false)) %></li>
        <li><%= link_to("Payment History", payment_history_account_path(:subdomain => false)) %></li>
        <li class="friend"><%= link_to 'Invite Friends', invite_friends_url%></li>
        <li class="friend"><%= link_to 'Convert Starpoints', star_cruise_conversion_url %></a></li>
        <li><%= link_to "Logout", spree.destroy_user_session_path %></li>
      </ul>
    </li>

  <% unless current_user.has_role?("auction_user") %>
      <div id="myRegistration" class="modal hide fade">
        <%= render :partial => "spree/shared/registration/join_auction", :locals => {:user => current_user} %>
      </div>
  <% end %>
  <% if @continue_registration %>

      <script type="text/javascript">
          $(document).ready(function(){
              $('#myRegistration').modal('show');
          });
      </script>
  <% end %>
<% else %>
    <li class="reg">
      <a data-toggle="modal" href="#myRegistration" id="navi_join" class="signup">Register</a>
      <%= render :partial => 'spree/shared/register_modal', :locals => {:user => (@user || Spree::User.new)} %>
    </li>
    <li class="nav-divider"></li>
    <li class="dropdown mylogin" id="login_box">
      <a class="pull-left dropdown-toggle userlogin" data-toggle="dropdown" id="navi_login" data-target="#">Login </a>
      <div class="dropdown-menu login">
        <%= form_for :user, :url => spree.user_session_path do |f| %>
            <ul class="no-list" >
              <li><%= f.email_field :email, :class => 'field', :placeholder => "EMAIL ADDRESS" %></li>
              <li><%= f.password_field :password, :class => 'field', :placeholder => "PASSWORD" %></li>
              <li class="pull-right"><%= f.submit "LOGIN", :class => 'btn btn-primary login-btn' %></li>
              <li class="pull-left"><label class="checkbox">
                <%= f.check_box :remember_me %> Keep me logged in
              </label></li>


            </ul>
        <% end %>

      </div>
    </li>

<% end %>

