<!-- This line can be removed. It is just to test Webistrano build -->

<div class="nav-wrap">
<nav class="navbar" id='sold_top_navbar'>
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to image_tag('soldsg-logo.png', :alt => 'Singapore Shopping Online', :class => 'logo'), root_url(:subdomain => false), {:class => "brand"} %>

      <div class="nav-collapse">
        <ul class="nav menu-cover pull-left">
          <li class="<%= is_active?("spree/auctions") %> home"> <%= link_to 'Auction', root_url(subdomain: 'auctions') %> </li>
          <li class="nav-divider"></li>
          <li class="<%= is_active?("spree/products") %> shop"><%= link_to 'Shop', root_url(subdomain: 'shop') %> </li>
          <li class="nav-divider"></li>
          <li class="<%= is_active?("spree/flash_sales") %> sale"><%= link_to 'On Sale', root_url(subdomain: 'sales') %> </li>
        </ul>

        <ul class="nav menu-cover pull-right">
          <li class="credits">
            <% if current_user && current_user.credit > 0 %>
                <span class="badge-cred">$<%= current_user.credit.to_i %></span>
            <% end %>
            <a rel="tooltip" data-placement="left" data-original-title="Credits"></a>
          </li>
          <% if current_user %>
              <li class="cart white-active dropdown" id="mini_cart"></li>
          <% else %>
              <li class="cart white-active dropdown" id="mini_cart"><a href="#myRegistration" data-toggle="modal"></a></li>
          <% end %>
          <li class="<%= is_active?("spree/invite_friends") %> friend"><%= link_to '', invite_friends_url,"rel" => "tooltip", "data-placement" => "bottom", "data-original-title" => "Invite Friends" %></li>
          <li class="help"><a href="http://feedback.sold.sg/knowledgebase" target="_blank" title="Help" rel="tooltip" data-placement="bottom" data-original-title="Knowledge Base"></a></li>
        </ul>
        <%= render :partial => 'spree/shared/nav_login_bar' %>
      </div>
    </div>
  </div>
</nav>

</div>
<% if content_for?(:banner) %>
    <%= yield :banner %>
<% elsif show_banner? %>
<%= render :partial => 'spree/shared/banner' %>
<% else %>
    <div class="blackbg"></div>
<% end %>
<% if content_for?(:below_nav) %>
    <%= yield :below_nav %>
<% end %>
<div id="notifications" class="notifications notification-top">
  <%= flash_messages %>
</div>

