<!-- This line can be removed. It is just to test Webistrano build -->

<div class="nav-wrap">
<nav class="navbar" id='sold_top_navbar'>
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to image_tag('sold_logo.png', :alt => 'Singapore Shopping Online', :class => 'logo'), root_url(:subdomain => false), {:class => "brand"} %>

      <div class="nav-collapse">
        <ul class="nav menu-cover pull-left">
          <li class="<%= is_active?("spree/auctions") %> home"> <%= link_to 'Auctions', root_url(subdomain: 'auctions') %> </li>
          <li class="<%= is_active?("spree/products") %> shop"><%= link_to 'Shop', root_url(subdomain: 'shop') %> </li>
          <li class="<%= is_active?("spree/flash_sales") %> sale"><%= link_to 'On Sale', root_url(subdomain: 'sales') %> </li>

        </ul>

        <ul class="nav menu-cover pull-right">
          <li class="fb-like"><a href="#"><img src="/assets/fb-like-sample.png"> </a></li>
          <li class="cart white-active dropdown" id="mini_cart"></li>
          <li class="<%= is_active?("spree/invitations") %> friend"><%= link_to '', invitations_url %></li>
          <li class="help"><a href="http://feedback.sold.sg/knowledgebase"></a></li>
        </ul>
        <%= render :partial => 'spree/shared/nav_login_bar' %>
      </div>
    </div>
  </div>
</nav>

</div>
<% if content_for?(:banner) %>
    <%= yield :banner %>
<% else %>
<%= render :partial => 'spree/shared/banner' %>
<% end %>
<% if content_for?(:below_nav) %>
    <%= yield :below_nav %>
<% end %>
<div id="notifications" class="notifications notification-top">
  <%= flash_messages %>
</div>

