<div class="navbar navbar-fixed-top" id='sold_top_navbar'>
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">
        <%= image_tag('soldsg-logo.png', :alt => 'Singapore Shopping Online', :class => 'logo') %>
      </a>

      <div class="nav-collapse">
        <ul class="nav menu-cover pull-left">
          <li class="active live-auction"><a href="#">Auction</a></li>
          <li class='sale'><a href="#">Sale</a></li>
          <li class="friend"><a href="#">Invite</a></li>
          <li class="help"><a href="#">Help</a></li>
        </ul>

		<ul class="nav menu-cover pull-right">
			<li class="cart"><%= link_to "Cart", cart_url %></li>
			<li class='amount-menu-item'><a href="#"><p class='amount'>200</p>Tokens</a></li>
			<li class='amount-menu-item'><a href="#"><p class='amount'>8</p>Auctions</a></li>
			<li class="divider-vertical"></li>
			<li class="dropdown" id='account_db'>
				<% if current_user %>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#account_db">
					<%= current_user.email %>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">My Page</a></li>
					<li class="divider"></li>
					<li><a href="#">My Auctions</a></li>
					<li class="divider"></li>
					<li><%= link_to "My Shopping Cart", cart_url %></li>
					<li class="divider"></li>
					<li><a href="#">Buy Tokens</a></li>
					<li class="divider"></li>
					<li><%= link_to t(:logout), spree.destroy_user_session_path %></li>
				</ul>
				<% else %>
				<%= link_to t(:login), spree.login_path %>
				<% end %>
			</li>
		</ul>
      </div>
    </div>
  </div>
</div>