<div class="container">
  <div class="login-main">
    <%= form_for :user, :url => spree.user_session_path do |f| %>
          <ul class="pull-left no-list">
              <li><%= f.email_field :email, :class => 'title', :tabindex => 1, :placeholder => "EMAIL ADDRESS" %></li>
              <li><%= f.password_field :password, :class => 'title', :tabindex => 2, :placeholder => "PASSWORD" %></li>
              <li class="pull-left"><%= f.submit t(:login), :class => 'btn btn-primary' %></li>
              <li class="pull-left">
                <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  Remember me
                </label>
              </li>

              <br class="clear">
            <hr>
            <li><h3><strong>Not a member yet?</strong></h3></li> <br>
            <li class="pull-left"><button data-toggle="modal" href="#myRegistration" class="btn btn-primary">SIGN ME UP</button></li>
            <li class="midbtn pull-left"> </li>

            <br class="clear">

          </ul>
    <% end %>
        <div class="pull-right forgot">
          <p><strong>I think I forgot my password.</strong></p>
          <p>If you have forgotten your password, click <%= link_to "<strong>here</strong>".html_safe, spree.new_user_password_path, :class => "txt-orange" %>  to receive an email on how to reset your password.</p>
          <br>
          <p><strong>I have entered the correct email and password, but I still can’t log in!</strong></p>
          <p>Have you validated your account? Our system will automatically close accounts that are not activated within 24 hours. If you have not validated your account within 24 hours, you may send us an <a href="mailto:<%= SiteConfig.email.info %>?Subject=Hello" class="txt-orange">
            <strong>email</strong></a> or call our <a href="/contact-us" class="txt-orange"><strong>Customer Service Hotline.</strong></a></p>


        </div>
        <br class="clear">









  </div>
</div>