
        <!--toolbar for registered users -->
        <div class="toolbar">
          <ul class="toolbar-reg">
            <li><%= link_to "", favourites_auctions_url(subdomain: "auctions"), :class => "tb-myfavs" %></li>
                <li><%= link_to "", my_auto_bidders_auctions_url(subdomain: "auctions"), :class => "tb-myauto" %></li>
                <li class="toolbar-notif">
                  <ul id="js-news" class="js-hidden">
                    <%= populate_notifications %>
                  </ul>
                </li>
                <li class="tb-myauctions"><span class="txt-18" id="user_ea">0</span><span class="txt-18">/4</span> <br><%= link_to "AUCTIONS", my_won_auctions_url(subdomain: "auctions"), :class => "txt-white"  %></li>
                <li class="tb-mytokens"><span class="txt-18" id="user_coin">0</span><br><%= link_to "TOKENS", my_pack_tokens_url(subdomain: "auctions"), :class => "txt-white" %></li>
                <li><%= link_to "", purchase_tokens_url(subdomain: "auctions"), :class => "tb-buy" %> </li>
          </ul>
        </div>

<script src="/assets/jquery.ticker.js" type="text/javascript"></script>
<script type="text/javascript">
$(function () {

    <% unless current_user  and current_user.has_role?("auction_user") || current_user.has_role?("admin")   %>
    toolbar = $('div.toolbar').find('a');
    toolbar.attr("href","javascript: void(0)");
    toolbar.live('click',function(e) {
          e.stopPropagation();
          window.showSignUpBox();
      });
    <% end %>
     // start the ticker
    if($('#js-news li').length > 0 ){
        $('#js-news').ticker();
    }
});
</script>